<footer class="site-footer pt-16">
  <data class="u-url" href="{{ " / " | relative_url }}"></data>

  <div class="footer-upper pb-4">
    <div class="wrapper pb-8 flex flex-wrap border-b border-w-1 border-grey justify-between text-center">
      <div class="w-full sm:w-1/2 md:w-1/2 sm:text-left md:text-left">
        <a class="inline-block mb-4 text-white text-2xl" href="/">
          <img style="max-height: 45px;" src="/assets/img/media/logo-wide-sm-white.png" alt="footer logo" />
        </a>
        <!-- <div>Donate and Support:</div>
         <a class="inline-block mb-3 text-white hover:text-grey" href="raven:RLAAfXwoQGdRvqupMrrL7j57gzfHFqCxca" target="_blank">RLAAfXwoQGdRvqupMrrL7j57gzfHFqCxca</a>
         <img class="block mb-8 m-auto sm:m-0" style="max-width: 125px;" src="{{" /assets/img/donate/raven-qr.png "}}" alt="donate" />
        TODO: Add Donation's back someday? -->
       </div>
      <div class="w-full sm:w-1/2 md:w-1/2 text-left">
        <div class="flex flex-wrap">
          <div class="w-1/3 sm:w-1/3 md:w-1/3 mb-8">
            <h5 class="text-sm font-bold uppercase"><span style="font-size:12pt;">메뉴</h5>
            <ul class="list-reset">
              <li>
                <a href="/">홈</a>
              </li>
              <li>
                <a href="/about/">레이븐코인</a>
              </li>
              <li>
                <a href="/wallet/">지갑</a>
              </li>
              <li>
                <a href="/buy-ravencoin/">거래소</a>
              </li>
              <li>
                <a href="/whitepaper/">백서</a>
              </li>
              <li>
                <a href="https://ravencoin.shop/" target="_blank" rel="nofollow">쇼핑</a>
              </li>
            </ul>
          </div>
          <div class="w-1/3 sm:w-1/3 md:w-1/3 mb-8">
            <h5 class="text-sm font-bold uppercase"><span style="font-size:12pt;">개발자</h5>
            <ul class="list-reset">
              <li>
                <a href="https://ravencoin.network/" target="_blank" rel="nofollow">블록 익스플로러</a>
              </li>
              <li>
                <a href="https://ravencoin.asset-explorer.net/" target="_blank" rel="nofollow">자산 익스플로러</a>
              </li>
              <li>
                <a href="/halving">반감기</a>
              </li>
              <li>
                <a href="https://rvnstats.info/" target="_blank" rel="nofollow">통계</a>
              </li>
              <li>
                <a href="https://github.com/RavenProject/Ravencoin" target="_blank" rel="nofollow">깃헙</a>
              </li>
              <li>
                <a href="/pools/">채굴풀</a>
              </li>
            </ul>
          </div>
          <div class="w-1/3 sm:w-1/3 md:w-1/3 mb-8">
            <h5 class="text-sm font-bold uppercase"><span style="font-size:12pt;">커뮤니티</h5>
            <ul class="list-reset">
              <li>
                <a href="https://twitter.com/ravencoinkorea" target="_blank" rel="nofollow">트위터(국내)</a>
              </li>
              <li>
                <a href="https://twitter.com/ravencoin" target="_blank" rel="nofollow">트위터(해외)</a>
              </li>
              <li>
                <a href="https://t.me/ravencoinkorea/" target="_blank" rel="nofollow">텔레그램(국내)</a>
              </li>
              <li>
                <a href="https://t.me/RavencoinDev" target="_blank" rel="nofollow">텔레그램(해외)</a>
              </li>
              <li>
                <a href="https://discordapp.com/invite/jn6uhur" target="_blank" rel="nofollow">디스코드(해외)</a>
              </li>
              <li>
                <a href="https://www.reddit.com/r/Ravencoin/" target="_blank" rel="nofollow">레딧(Reddit)</a>
              </li>

              <li>
                <a href="https://github.com/RavenProject" target="_blank" rel="nofollow">깃헙(Github)</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="footer-bottom mb-4">
    <div class="wrapper flex flex-wrap justify-between text-center">
      <div class="footer-left w-full sm:w-1/2 sm:text-left">
        <div class="footerlicense">© 레이븐코인 {{ site.time | date: '%Y' }} 출시 라이센스:
          <a class="hover:text-white" href="http://opensource.org/licenses/mit-license.php"
            target="_blank">MIT license</a><span class="ml-2"></span>
        </div>
      </div>
  
      </div>
    </div>
  </div>
</footer>
{%- include modal.html -%}
